*.sdf
*.suo
*.pdb
*.opensdf
*.user
/obj
/src/ipch
/src/zlib-1.2.8/win32/zlib1.res
/lib/x86/CEGUIRapidXMLParser.lib
/lib/x86/CEGUIRapidXMLParser_d.lib
/lib/x86/CEGUISTBImageCodec.lib
/lib/x86/CEGUISTBImageCodec_d.lib
/lib/x86/boost.lib
/lib/x86/boost_d.lib
/lib/x86/caelum.lib
/lib/x86/caelum_d.lib
/lib/x86/CEGUIBase.lib
/lib/x86/CEGUIBase_d.lib
/lib/x86/CEGUICommonDialogs.lib
/lib/x86/CEGUICommonDialogs_d.lib
/lib/x86/CEGUICoreWindowRendererSet.lib
/lib/x86/CEGUICoreWindowRendererSet_d.lib
/lib/x86/CEGUIOgreRenderer.lib
/lib/x86/CEGUIOgreRenderer_d.lib
/lib/x86/freetype.lib
/lib/x86/freetype_d.lib
/lib/x86/FreeImage.lib
/lib/x86/FreeImage_d.lib
/lib/x86/LibRaw_d.lib
/lib/x86/LibJPEG.lib
/lib/x86/LibJPEG_d.lib
/lib/x86/LibOpenJPEG.lib
/lib/x86/LibOpenJPEG_d.lib
/lib/x86/LibPNG.lib
/lib/x86/LibPNG_d.lib
/lib/x86/LibRaw.lib
/lib/x86/OgreOctree.lib
/lib/x86/LibTIFF4.lib
/lib/x86/LibTIFF4_d.lib
/lib/x86/OgreD3D11.lib
/lib/x86/OgreD3D11_d.lib
/lib/x86/OgreD3D9.lib
/lib/x86/OgreD3D9_d.lib
/lib/x86/OgreMain.lib
/lib/x86/OgreMain_d.lib
/lib/x86/ParticleUniverse.lib
/lib/x86/OgreOctree_d.lib
/lib/x86/OgreTerrain.lib
/lib/x86/OgreTerrain_d.lib
/lib/x86/OIS.lib
/lib/x86/OIS_d.lib
/lib/x86/OpenEXR.lib
/lib/x86/OpenEXR_d.lib
/lib/x86/zziplib_d.lib
/lib/x86/ParticleUniverse_d.lib
/lib/x86/ParticleUniverse2.lib
/lib/x86/ParticleUniverse2_d.lib
/lib/x86/pcre.lib
/lib/x86/pcre_d.lib
/lib/x86/zlib.lib
/lib/x86/zlib_d.lib
/lib/x86/zziplib.lib
/lib/x64/boost.lib
/lib/x64/boost_d.lib
/lib/x64/caelum.lib
/lib/x64/caelum_d.lib
/lib/x64/CEGUIBase.lib
/lib/x64/CEGUIBase_d.lib
/lib/x64/CEGUICommonDialogs.lib
/lib/x64/CEGUICommonDialogs_d.lib
/lib/x64/CEGUICoreWindowRendererSet.lib
/lib/x64/CEGUICoreWindowRendererSet_d.lib
/lib/x64/CEGUIOgreRenderer.lib
/lib/x64/CEGUIOgreRenderer_d.lib
/lib/x64/CEGUIRapidXMLParser.lib
/lib/x64/CEGUIRapidXMLParser_d.lib
/lib/x64/CEGUISTBImageCodec.lib
/lib/x64/CEGUISTBImageCodec_d.lib
/lib/x64/freetype.lib
/lib/x64/freetype_d.lib
/lib/x64/FreeImage.lib
/lib/x64/FreeImage_d.lib
/lib/x64/LibPNG.lib
/lib/x64/LibJPEG.lib
/lib/x64/LibJPEG_d.lib
/lib/x64/LibOpenJPEG.lib
/lib/x64/LibOpenJPEG_d.lib
/lib/x64/LibPNG_d.lib
/lib/x64/LibRaw.lib
/lib/x64/LibRaw_d.lib
/lib/x64/LibTIFF4.lib
/lib/x64/LibTIFF4_d.lib
/lib/x64/OgreD3D11.lib
/lib/x64/OgreD3D11_d.lib
/lib/x64/OgreD3D9.lib
/lib/x64/OgreD3D9_d.lib
/lib/x64/ParticleUniverse_d.lib
/lib/x64/OgreMain.lib
/lib/x64/OgreMain_d.lib
/lib/x64/OgreOctree.lib
/lib/x64/OgreOctree_d.lib
/lib/x64/OgreTerrain.lib
/lib/x64/OgreTerrain_d.lib
/lib/x64/OIS.lib
/lib/x64/OIS_d.lib
/lib/x64/OpenEXR.lib
/lib/x64/OpenEXR_d.lib
/lib/x64/ParticleUniverse.lib
/lib/x64/zziplib_d.lib
/lib/x64/ParticleUniverse2.lib
/lib/x64/ParticleUniverse2_d.lib
/lib/x64/pcre.lib
/lib/x64/pcre_d.lib
/lib/x64/zlib.lib
/lib/x64/zlib_d.lib
/lib/x64/zziplib.lib
/TEST/x86/*.log
/TEST/x64/*.log
/TEST/x86/*.exp
/TEST/x86/*.lib
/TEST/x86/*.exe
/TEST/x64/*.lib
/TEST/x64/*.exp
/TEST/x64/*.exe
